<p id="notice"><%= notice %></p>

<p>
  <strong>Mothername:</strong>
  <%= @mother_name.mothername %>
</p>

<%= link_to 'Edit', edit_mother_name_path(@mother_name) %> |
<%= link_to 'Back', mother_names_path %>
