<p id="notice"><%= notice %></p>

<p>
  <strong>Birth:</strong>
  <%= @birth_place.birth %>
</p>

<%= link_to 'Edit', edit_birth_place_path(@birth_place) %> |
<%= link_to 'Back', birth_places_path %>
